*{
    box-sizing: border-box;
}

body {
    background-color: black;
    color:  white;
    height: 60%;
}

.bg-light {
    background-color: black;
}

.form-control {
    display: flex;
    justify-content: center;
    width: 50px;
}

